@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: 'Sometype Mono', sans-serif;
    text-align: center;
}


header h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: rgb(47, 148, 114);
}

.introducao p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(43, 43, 43);
    margin-bottom: -5%;
}

.passageiros {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding-top: 100px;
} 

.passageiro1 {
    width: 25%;
    background-color: rgb(58, 180, 139);
    border: 10px;
    border-radius: 15px;
}

.passageiro1 h2 {
    color: rgb(36, 112, 87);
    font-size: 30px;
}

.passageiro1 p {
    color: white;
}

.passageiro2 {
    width: 25%;
    background-color: rgb(58, 180, 139);
    border: 10px;
    border-radius: 15px;
}

.passageiro2 h2 {
    color: rgb(36, 112, 87);
    font-size: 30px;
}

.passageiro2 p {
    color: white;
    font-size: 20px;
}

.passageiro3 {
    width: 25%;
    background-color: rgb(58, 180, 139);
    border: 10px;
    border-radius: 15px;
}

.passageiro3 h2 {
    color: rgb(36, 112, 87);
    font-size: 30px;
}

.passageiro3 p {
    color: white;
    font-size: 20px;
}

.decisao a {
    text-decoration: none;
    font-size: 25px;
    color: blue;
    display: inline-block;
    margin-top: 50px;
}

.decisao a:hover {
    color: rgb(91, 91, 255);
}